.mainPanel {
    -fx-background-image: url("../img/backgrounds/board_back.png");
    -fx-background-size: stretch;
}

.island {
    -fx-effect: dropshadow(gaussian, #addaf1, 10, 0.5, 0.0, 0.0);
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}

.island:hover,
.island:focused {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

.island:pressed {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}

.island:disabled {
    -fx-effect: dropshadow(gaussian, #75c4ed, 0, 0, 0.0, 0.0);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.cloud {
    -fx-effect: dropshadow(gaussian, #addaf1, 10, 0.5, 0.0, 0.0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.cloud:hover,
.cloud:focused {
    -fx-scale-x: 1.12;
    -fx-scale-y: 1.12;
    -fx-effect: dropshadow(gaussian, #a1a1a1, 10, 0.5, 0.0, 0.0);
}

.cloud:pressed {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, #a1a1a1, 10, 0.5, 0.0, 0.0);
}

.cloud:disabled {
    -fx-effect: dropshadow(gaussian, #75c4ed, 0, 0, 0.0, 0.0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.card:hover,
.card:focused {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-translate-y: -33;
    -fx-translate-x: -10;
    -fx-effect: dropshadow(gaussian, #a1a1a1, 10, 0.5, 0.0, 0.0);
}

.card:pressed {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.4;
    -fx-scale-y: 1.4;
    -fx-translate-y: -26;
    -fx-translate-x: -10;
    -fx-effect: dropshadow(gaussian, #a1a1a1, 10, 0.5, 0.0, 0.0);
}

.card:disabled {
    -fx-focus-traversable: false;
    -fx-block-increment: true;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-translate-y: 4;
}

.characterCard {
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

.characterCard:hover,
.characterCard:focused {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-translate-y: +17;
    -fx-effect: dropshadow(gaussian, #a1a1a1, 10, 0.5, 0.0, 0.0);
}

.characterCard:pressed {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.14;
    -fx-scale-y: 1.14;
    -fx-translate-y: +7;
    -fx-effect: dropshadow(gaussian, #a1a1a1, 10, 0.5, 0.0, 0.0);
}

.characterCard:disabled {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:80px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.tab-pane .tab:selected {
    -fx-background-color: #ffc55c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 13px;
    -fx-font-family: "Metamorphous";
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #343434;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.playersLabel {
    -fx-font-family: "Metamorphous";
    -fx-font-size: 21px;
}

.numbersText {
    -fx-font-family: "Metamorphous";
}